@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --my-color: #fff;
  /* or any other variables/style */
}
[data-theme="dark"] {
  --my-color: #000;
}
[data-theme="pink"] {
  --my-color: #ffabc8;
}
body {
  background-color: "black";
}
.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}
